<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=recommendation.author.username) }}">
                <img src="{{ recommendation.author.avatar(70) }}" />
            </a>
        </td>
    <td>
            <a href="{{ url_for('user', username=recommendation.author.username) }}">
                    {{ recommendation.author.username }}
            </a>
            recommended {{ moment(recommendation.timestamp).fromNow() }}:
            <br>
            {{ recommendation.book_title }} by {{ recommendation.book_author }}
            <br>
            <br>
            Category:    {{ recommendation.book_category }}
        </td>
    </tr>
</table>