{% extends "base.html" %}

{%block content %}
    <h2>What Book Would You Like to Recommend?</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.book_title.label }}<br>
            {{ form.book_title(size=70) }}<br>
            {% for error in form.book_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.book_author.label }}<br>
            {{ form.book_author(size=40) }}<br>
            {% for error in form.book_author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.book_category.label }}<br>
            {{ form.book_category(size=25) }}<br>
            {% for error in form.book_category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
        <p>
            {{ form.book_summary.label }}<br>
            {{ form.book_summary(cols=50, rows=4) }}<br>
            {% for error in form.book_summary.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}